<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HALAMAN DETAIL DATA INVENTARIS</title>
    <style>
         table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
    <h2>
        <a href="/">HALAMAN DETAIL BUAH</a>
    </h2>
  
    <span> nama_barang: {{context[1]}}</span>
    <br>
    <span> jumlah_barang : {{context[2]}}</span>
    <br>
    <span> kode_barang : {{context[3]}}</span>
    <br>
    <span> keterangan: {{context[4]}}</span>
</body>
</html>
</body>
</html>